@charset "utf-8";
/* reset */
* {margin:0;padding:0}
html,body {width:100%}
body {background:#fff;-webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button {color:#000000;font-family:'Happiness Sans Regular', sans-serif; letter-spacing:-1px}
a, a:visited, a:hover, a:active {text-decoration:none}